openapi: 3.2.0
info:
  title: Pipecat Cloud Organization API
  description: REST control API for Pipecat Cloud, the hosted platform for deploying and operating agents built with the open-source Pipecat Python framework.
  termsOfService: https://www.daily.co/legal/terms-of-service/
  contact:
    name: Pipecat / Daily Support
    email: help@daily.co
  license:
    name: BSD-2-Clause (Pipecat framework)
    url: https://github.com/pipecat-ai/pipecat/blob/main/LICENSE
  version: '1.0'
servers:
- url: https://api.pipecat.daily.co/v1
  description: Pipecat Cloud REST control API
security:
- bearerAuth: []
tags:
- name: Organization
  description: Organization properties and available regions.
paths:
  /properties:
    get:
      operationId: getProperties
      tags:
      - Organization
      summary: Get organization properties
      responses:
        '200':
          description: Organization properties.
    patch:
      operationId: updateProperties
      tags:
      - Organization
      summary: Update organization properties
      responses:
        '200':
          description: Organization properties updated.
  /regions:
    get:
      operationId: listRegions
      tags:
      - Organization
      summary: List available regions
      responses:
        '200':
          description: A list of regions.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Private API key from the Pipecat Cloud dashboard, sent as a Bearer token.
