openapi: 3.0.1
info:
  title: Pipecat Cloud Agents Secrets API
  description: REST control API for Pipecat Cloud, the hosted platform for deploying and operating agents built with the open-source Pipecat Python framework. The Pipecat framework itself is an SDK (the pipecat-ai Python library) and does not expose a REST API; its interface is Python Pipelines, Frames, FrameProcessors, Services, and Transports (Daily WebRTC, SmallWebRTC, LiveKit, FastAPI WebSocket, and telephony serializers). This document models only the documented Pipecat Cloud REST control plane - managing agents, starting and stopping sessions, builds, secrets, organization properties, and regions. Realtime media (audio/video) flows over WebRTC/WebSocket transports negotiated out of band and is not modeled as REST here.
  termsOfService: https://www.daily.co/legal/terms-of-service/
  contact:
    name: Pipecat / Daily Support
    email: help@daily.co
  license:
    name: BSD-2-Clause (Pipecat framework)
    url: https://github.com/pipecat-ai/pipecat/blob/main/LICENSE
  version: '1.0'
servers:
- url: https://api.pipecat.daily.co/v1
  description: Pipecat Cloud REST control API
security:
- bearerAuth: []
tags:
- name: Secrets
  description: Manage secret sets and individual secrets used by agents.
paths:
  /secrets:
    get:
      operationId: listSecrets
      tags:
      - Secrets
      summary: List secret sets.
      responses:
        '200':
          description: A list of secret sets.
    post:
      operationId: createSecret
      tags:
      - Secrets
      summary: Create or update a secret set.
      responses:
        '200':
          description: Secret set created or updated.
  /secrets/{name}:
    get:
      operationId: getSecret
      tags:
      - Secrets
      summary: Get details for a secret set.
      parameters:
      - $ref: '#/components/parameters/SecretName'
      responses:
        '200':
          description: Secret set details.
    delete:
      operationId: deleteSecret
      tags:
      - Secrets
      summary: Delete an entire secret set.
      parameters:
      - $ref: '#/components/parameters/SecretName'
      responses:
        '204':
          description: Secret set deleted.
  /secrets/{name}/{key}:
    delete:
      operationId: deleteSecretKey
      tags:
      - Secrets
      summary: Delete a specific secret from a set.
      parameters:
      - $ref: '#/components/parameters/SecretName'
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Secret deleted.
components:
  parameters:
    SecretName:
      name: name
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Private API key from the Pipecat Cloud dashboard, sent as a Bearer token.
