openapi: 3.0.1
info:
  title: Pipecat Cloud Agents API
  description: REST control API for Pipecat Cloud, the hosted platform for deploying and operating agents built with the open-source Pipecat Python framework. The Pipecat framework itself is an SDK (the pipecat-ai Python library) and does not expose a REST API; its interface is Python Pipelines, Frames, FrameProcessors, Services, and Transports (Daily WebRTC, SmallWebRTC, LiveKit, FastAPI WebSocket, and telephony serializers). This document models only the documented Pipecat Cloud REST control plane - managing agents, starting and stopping sessions, builds, secrets, organization properties, and regions. Realtime media (audio/video) flows over WebRTC/WebSocket transports negotiated out of band and is not modeled as REST here.
  termsOfService: https://www.daily.co/legal/terms-of-service/
  contact:
    name: Pipecat / Daily Support
    email: help@daily.co
  license:
    name: BSD-2-Clause (Pipecat framework)
    url: https://github.com/pipecat-ai/pipecat/blob/main/LICENSE
  version: '1.0'
servers:
- url: https://api.pipecat.daily.co/v1
  description: Pipecat Cloud REST control API
security:
- bearerAuth: []
tags:
- name: Agents
  description: Create, list, update, and delete deployed agents and inspect logs and sessions.
paths:
  /agents:
    get:
      operationId: listAgents
      tags:
      - Agents
      summary: List all agents in the organization.
      responses:
        '200':
          description: A list of agents.
    post:
      operationId: createAgent
      tags:
      - Agents
      summary: Create a new agent from a container image and configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentCreateRequest'
      responses:
        '201':
          description: Agent created.
  /agents/{id}:
    get:
      operationId: getAgent
      tags:
      - Agents
      summary: Get details for a single agent.
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent details.
    patch:
      operationId: updateAgent
      tags:
      - Agents
      summary: Update an existing agent's configuration.
      parameters:
      - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentCreateRequest'
      responses:
        '200':
          description: Agent updated.
    delete:
      operationId: deleteAgent
      tags:
      - Agents
      summary: Delete an agent.
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '204':
          description: Agent deleted.
  /agents/{id}/logs:
    get:
      operationId: getAgentLogs
      tags:
      - Agents
      summary: Retrieve logs for an agent.
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent logs.
  /agents/{id}/sessions:
    get:
      operationId: listAgentSessions
      tags:
      - Agents
      summary: List sessions for an agent.
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: A list of sessions.
  /agents/{id}/sessions/{session_id}:
    get:
      operationId: getAgentSession
      tags:
      - Agents
      summary: Get details for a specific agent session.
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - name: session_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Session details.
components:
  parameters:
    AgentId:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    AgentCreateRequest:
      type: object
      properties:
        name:
          type: string
          description: Agent name.
        image:
          type: string
          description: Container image reference for the agent.
        secretSet:
          type: string
          description: Name of the secret set to attach.
        profile:
          type: string
          description: Compute profile (e.g., agent-1x, agent-2x, agent-3x).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Private API key from the Pipecat Cloud dashboard, sent as a Bearer token.
